; Command line log level
[Logging]
level = LOG_DEBUG

; Serial port configuration parameters
[Communication]
device = /dev/ttyUSB0
baud = 57600
timeout = 5

; Atmel XML device definition file path 
[Devices]
def_path = 
